<?xml version="1.0"?>

<robot xmlns:xacro="https://www.ros.org/wiki/xacro" name="diff_drive">

    <!-- wheels -->
    <xacro:macro name="link_wheel" params="name">
        <link name="${name}">    

            <inertial>
                <mass value="0.2"/>
                <origin rpy="${-pi/2} 0 0" xyz="0 0 0"/>
                <inertia ixx="${0.2*(3*radius**2+dimension['wheel_width']**2)/12}" ixy="0" ixz="0" iyy="${0.2*(3*radius**2+dimension['wheel_width']**2)/12}" iyz="0" izz="${0.2*radius**2/2}"/>
            </inertial>
            
            <collision name="${name}_collision">
                <origin rpy="${-pi/2} 0 0" xyz="0 0 0" />
                <geometry>
                    <cylinder length="${dimension['wheel_width']}" radius="${radius}"/>
                </geometry>
            </collision>
            
            <visual name="${name}_visual">
                <origin rpy="${-pi/2} 0 0" xyz="0 0 0"/>
                <geometry>
                    <cylinder length="${dimension['wheel_width']}" radius="${radius}"/>
                </geometry>  
                <material name="red">
                        <color rgba="1 0 0 1" />
                </material>    
            </visual>

        </link>
    </xacro:macro>

    <!-- casters -->
    <xacro:macro name="link_caster" params="name">
        <link name="${name}">    
            <inertial>
                <mass value="0.1"/>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <inertia ixx="${(2.0/5.0)*0.1*caster_radius**2}" ixy="0" ixz="0" iyy="${(2.0/5.0)*0.1*caster_radius**2}" iyz="0" izz="${(2.0/5.0)*0.1*caster_radius**2}"/>
            </inertial>
            
            <collision name="${name}_collision">
                <origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
                    <sphere radius="${caster_radius}"/>
                </geometry>
            </collision>
            
            <visual name="${name}_visual">
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <sphere radius="${caster_radius}"/>
                </geometry>  
                <material name="green">
                        <color rgba="0 1 0 1" />
                </material>    
            </visual>
        </link>
    </xacro:macro>


</robot>